# App
COMPOSE_PROJECT_NAME=YourComposeProjectName
PORT=YourPortNumber
HOST_PORT=YourHostPortNumber
CONTAINER_PORT=YourContainerPortNumber
FRONTEND_URL=YourFrontendURL

# Mongo
MONGO_URI=YourMongoURI
MONGO_INITDB_ROOT_USERNAME=YourMongoInitDBRootUsername
MONGO_INITDB_ROOT_PASSWORD=YourMongoInitDBRootPassword
MONGO_INITDB_DATABASE=YourMongoInitDBDatabase
MONGO_PORT=YourMongoPort
MONGO_HOST=YourMongoHost

# Argon2
ARGON_TYPE=YourArgonType
ARGON_TIME_COST=YourArgonTimeCost
ARGON_MEMORY_COST=YourArgonMemoryCost
ARGON_PARALLELISM=YourArgonParellelism
ARGON_HASH_LENGTH=YourArgonHashLength

# JWT
JWT_SECRET=YourJwtSecret
JWT_EXPIRES_IN=YourJwtExpiresIn
JWT_ISSUER=YourJwtIssuer
JWT_AUDIENCE=YourJwtAudience
JWT_ALGORITHM=YourJwtAlgorithm
JWT_VERIFY_EMAIL_SECRET=YourJwtVerifyEmailSecret
JWT_VERIFY_EMAIL_EXPIRES_IN=YourJwtVerifyEmailExpiresIn

# Mail
GOOGLE_MAIL_USER=YourGoogleMailUser
GOOGLE_CLIENT_ID=YourGoogleClientID
GOOGLE_CLIENT_SECRET=YourGoogleClientSecret
GOOGLE_CLIENT_REFRESH_TOKEN=YourGoogleClientRefreshToken

# Frontend URL
FRONTEND_URL=YourFrontendURL